body{
	display: inline-block;
	width: 100%;
	margin-bottom:10%;
}

canvas {
	float:left;
}

#buttons{
	background-color:#ffffff;  /* #FAE8F7(babypink),  #C2ECFC(babyblue), #E1F5DF(babygreen) #90EE90 parasväri*/
	width:740px;
	border-radius: 3px;
}

input {
	height:30px;
	font-size:15px;
}

#submit {
	display:inline-block;
	padding-top:2%;
	padding-bottom:2%;
	padding-left:3%;
	padding-right:3%;
	background-color:#E0E0E0;
	border: 1px solid black;
	border-radius: 10px;
	/*background-size:30px;*/
	font-style: italic;
	font-size: 15px;
	font-family:Palatino, Consolas;
}

#return {

/*opacity: 0.7;
border:1px, black; /*#F7A1E7
border-radius: 8px;
font-size: 20px;
font-family:"Coronetscript";
display:inline-block;*/
	position: relative;
	top:40px;
	color:black;
	font-size: 20px;
	font-family:"Coronetscript";
	opacity:0.7;
	background-color: #ffffff;
	border-radius: 3px;
	border: 1px, solid black;
	width: 180px;
	float:left;
	/*-webkit-transform: rotate(-40deg);*/

}

#next {

display:inline-block;
opacity: 0.7;
border:1px, #F7A1E7;
border-radius: 8px;
font-size: 20px;
font-family:"Palatino Linotype";
float:right;
width: 180px;
background-color: #ffffff ; /*#9DF794*/
opacity:0.5;
/*-webkit-transform: rotate(40deg);*/

}

#textBox{
	/*float:left;*/
	display: inline-block;
	position: relative;
	/*z-index: 0;*/
	padding-top:10px;
	padding-left: 0px;
}

/*papyrus-image*/
#textBox img {
	position: relative;
	z-index: 0;
}

#textField {
	position: relative;
	top: -80px;
	right: -80px;
	z-index: 0;
}

#clues{
	float:left;
}

#start {

display:inline-block;
opacity: 0.7;
border:1px, #F7A1E7;
border-radius: 8px;
font-size: 20px;
font-family:"Palatino Linotype";
float:right;
width: 80px;
background-color: #ffffff ; /*#9DF794*/
opacity:0.5;
-webkit-transform: rotate(40deg);

}

#again {

	color:black;
	font-size: 20px;
	font-family:"Coronetscript";
	opacity:0.5;
	background-color: #ffffff;
	border-radius: 3px;
	border: 1px, solid black;
	width: 80px;
	display:inline-block;
	-webkit-transform: rotate(-40deg);

}

#return:hover{
	opacity:1;
}

#next:hover{
	opacity:1;
}

#start:hover{
	opacity:1;
}

#again:hover{
	opacity:1;
}

#title{

	padding-left:80px;
	padding-top:60px;
	font-family: "Palatino";
	font-size: 20px;

}

#help{

	float:left;
	background-image:url(papyrus.gif);
	width:400px;
	height:512px;
	opacity: 1;
	
}

#helpText{

	font-family:"Palatino";
	font-size: 12px;
	width: 250px;
	height: 300px;
	padding-left: 80px;
	padding-top: 20px;

}

#prologue{

	float:left;
	background-image:url(papyrus.gif);
	width:400px;
	height:512px;
	opacity:0.6;
	
}

#prologueText{

	font-family:"Palatino Linotype";
	font-size: 12px;
	width: 250px;
	height: 300px;
	padding-left: 80px;
	padding-top: 80px;

}

#end{

	float:left;
	background-image:url(papyrus.gif);
	width:400px;
	height:512px;
	opacity:0.6;
	
}

#endText{

	font-family:"Palatino Linotype";
	font-size: 12px;
	width: 250px;
	height: 300px;
	padding-left: 80px;
	padding-top: 80px;

}

.interactive {
	width: 670px;
	height: 100px;
	visibility:hidden;
	position: relative;
	top: 540px;
	right: -18px;
	padding: 1%;
	border-radius:20px;
	background-color:#E0E0E0;
	/*background: linear-gradient(170deg, #123450, #12083A);*/
	color:#12083A;			/*for content*/
	box-shadow: 3px 4px 5px black;
	/*inset: 3px 4px 5px black;*/
	font-family: Palatino, Consolas;
	font-style: normal;
	font-size:14px;
}

#clue {
	visibility:hidden;
}

#respond {
	visibility:hidden;
}













